parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Undefined variable: \$this#'
            path: tests/Pest.php
        # -
        #     message: '#Call to an undefined method [a-zA-Z0-9\\_<>]+::toBeMinimallyValidBrewery\(\)#'
        #     path: tests/Feature/BreweryClientTest.php